.mainGameTable {
    display: grid;
    grid-template-rows: 1fr 6fr 3fr;
    position: relative;
    flex-direction: column;
    width: calc(((100vh * 4 / 5) - 80px)*3/4);
    height: calc((100vh * 4 / 5) - 80px);
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

.scorePlace{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px #c9c9c9;
}

.centerCardsPlace {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px #c9c9c9;
}

.emptyCardPlace {
    display: flex;
    position: relative;
    width: 70%;
    height: 50%;
    border-radius: 10px;
    background-color: #e7e7e7;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    border: solid 1px #c9c9c9;
}

.buttonsPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.topButtons, .bottomButtons{
    display: flex;
    position: relative;
    width: 70%;
    height: 25%;
}

.wronglyAnsweredButton, .correctlyAnsweredButton, .deleteCardButton, .leaveButton, .replayButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid 1px #c9c9c9;
}

.gameButtons:hover{
    cursor: pointer;
    background-color: #ffcbc7;
}

.inactiveButton {
    display: none;
}

.backGameCard {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: solid 1px #c9c9c9;
    box-sizing: border-box;
    background-color: #ffdedb;
}


