.modalCardOverlay {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: all;
    z-index: 3;
    transition: 0.3s;
}


.modalCardContent {
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 560px;
    display: flex;
    background: white;
    transition: 0.3s;
}


.cardHeader {
    height: 60px;
    width: 100%;
}

.cardHeader h1 {
    color: #c20d00;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cardBody {
    display: flex;
    height: 180px;
    width: 60%;
    font-size: 20px;
    justify-content: space-around;
    flex-direction: column;
    color: black;
}

.cardBody form {
    height: 65px;
}

.cardEnter {
    display: flex;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: #c20d00 solid 1px;
    outline: none;
    word-break: normal;
    padding-left: 5px;
}

.errorLabelOn {
    font-size: 15px;
    color: #c20d00;
    position: relative;
}

.errorLabelOff {
    display: none;
}

.animation {
    animation-name: errorLabelMovement;
    animation-duration: 250ms;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 60px;
}

.cardFooter button {
    border: #c20d00 solid 1px;
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.rightButton {
    display: flex;
    margin-right: 25px;
    width: 100px;
}

.leftButton {
    display: flex;
    margin-left: 25px;
    width: 100px;
}

button:hover {
    cursor: pointer;
}


.cancel {
    color: #c20d00;
    background-color: white;
    font-size: 8px;
}

.cancel:hover {
    color: #c20d00;
    background-color: #ffcbc7;
    padding: 10px;
    font-size: 8px;
}

.save {
    color: white;
    background: #c20d00;
    padding: 10px;
    font-size: 8px;
}

.save:hover{
    color: white;
    background: #ff7066;
    padding: 10px;
    font-size: 8px;
}

@keyframes errorLabelMovement{
    0%{
        left: 0;
    }
    25%{
        left: -5px;
    }
    75%{
        left: 5px;
    }
    100%{
        left: 0;
    }
}

