

.noCardMessageContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.noCardMessage {
    text-align: center;
}

.addFirstCard-btn{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    background: #c20d00;
}

.addFirstCard-btn img {
    display: flex;
    position: relative;
    width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    -webkit-user-drag: none;
}

@media (max-width: 348px) {
    .noCardMessageContainer {
        font-size: 40px;
    }
}