.calendarContent {
    position: relative;
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0 14px 0 20px;
    max-width: calc(100vw - 259px);
    min-width: 408px;
    width: 100%;
}

.tasksBlock {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    padding-bottom: 20px;
}

.dailyTasks {
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
    white-space: nowrap;
    height: 70px;
    margin-top: 20px;
    max-width: max-content;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-left: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
}


.addTask-btn{
    display: flex;
    position: relative;
    align-content: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 10px 10px 0;
    background: #c20d00;
}

.addTask-btn:active {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0);
}

.addTask-btn img {
    display: flex;
    position: relative;
    width: 60%;
    height: auto;
    margin: auto;
    cursor: pointer;
    -webkit-user-drag: none;
}

.taskWraper {
    display: flex;
    position: relative;
    width: 250px;
    height: 70px;
    background: white;
    border-right: solid 1px #c9c9c9;
    cursor: pointer;
}

.trashButton {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.trashButton img {
    width: 25px;
    height: auto;
    opacity: 0.5;
}

.trashButton:hover {
    background: #ffcbc7;
}

.taskON {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 100%;
    word-break: break-word;
    padding-left: 5px;
}

.taskON:hover {
    background-color: #ffcbc7;
}

.taskOFF {
    display: flex;
    position: relative;
    text-decoration: line-through;
    width: 100%;
    height: 100%;
    word-break: break-word;
    background: #dedede;
    padding-left: 5px;
}

.columnName {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    background: white;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    text-overflow: ellipsis;
}

.columnName h1{
    margin-left: 5px;
}

.refreshButton {
    transition: 100ms;
    height: 70%;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.refreshButton:active {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.shownTaskText {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 20px;
    word-break: inherit;
    white-space: normal;
    color: black;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.deleteTask {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    color: dodgerblue;
    height: 20px;
    width: 20px;
    border-radius: 50% 0 50% 50%;
    margin: 0;
    background: white;
    box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 0;
}
