.introDivFirst {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
    background: white;
}

.appearance {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: ani 2.5s forwards;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.introDivSecond {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.introDiv {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: 2000ms;
}

.whiteBgFirst {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 0;
}

.whiteBgSecond {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0;
    transition: 1000ms;
}

.flagImgFirst {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    -webkit-user-drag: none;
}

.flagImgSecond {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    transform: rotate(360deg);
    transition: 1000ms;
    -webkit-user-drag: none;
}

.flagImgLast {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transform: rotate(360deg);
    transition: 2000ms;
    -webkit-user-drag: none;
}

.flagBlockFirst {
    display: flex;
    position: absolute;
    width: 300px;
    border-radius: 50%;
    border: solid 5px white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    z-index: 1;
}

.flagBlockSecond {
    display: flex;
    position: absolute;
    width: 200vw;
    border-radius: 50%;
    border: solid 5px white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    z-index: 1;
    transition: 2000ms;
}

.text {
    z-index: 1;
}

.actionTextFirst {
    display: flex;
    position: absolute;
    bottom: 30px;
}

.actionTextSecond {
    display: flex;
    position: absolute;
    bottom: 30px;
    opacity: 0;
    transition: 1000ms;
}

.text p {
    color: gray;
    text-align: center;
}

@media (max-width: 325px) {
    .flagBlockFirst {
        position: relative;
        width: 100%;
        margin: 0 10px;
    }
}
@media (max-width: 768px) {
    .flagBlockSecond {
        width: 200vh;
    }
}