.modalHeader {
    display: flex;
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #c20d00;
    color: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    z-index: 3;
}

.logo {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
}
.logoText{
    display: flex;
    position: relative;
}

.logoText h1 {
    color: white;
}

.logoImg {
    display: flex;
    position: relative;
    height: 90%;
    margin: 0 10px 0 30px;
}

.pageName {
    display: flex;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
}

.menu {
    display: flex;
    width: 48px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.addCard-btn {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.addCard-btn img {
    display: flex;
    position: relative;
    width: 50px;
    height: auto;
    margin: auto;
    cursor: pointer;
    -webkit-user-drag: none;
}


.right-bnts {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 130px;
    height: 60%;
    margin-right: 30px;
}
