*{
    margin: 0;
}

p{
    display: flex;
    position: relative;
    color: black;
}

.cardTable {
    display: flex;
    position: relative;
    width: auto;
    margin: 90px 10px 0 10px;
}

.noData {
    justify-content: center;
    align-items: center;
    height: calc(100% - 90px);
    color: #b1b1b1;
}