.weekDaysSideBar {
    position: relative;
    display: flex;
    color: black;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 100%;
    width: 200px;
}

.weekNumb {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background: white;
    width: 50px;
    margin-right: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.weekDaysList {
    display: flex;
    flex-direction: column;
    width: 145px;
}


.monthName, .weekday {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

.weekday:hover {
    background-color: #ffcbc7;
}

.weekday {
    height: 70px;
    margin-top: 20px;
}

.monthName {
    height: 40px;
    margin-bottom: 5px;
}




